<div class="page-wrapper" *ngIf="product">

  <div class="detail-card">

    <h2 class="header-title">Product detail</h2>
    <hr />

    <div class="detail-grid">
      <div class="image-box">
        <img 
          [src]="product.imageUrl || 'assets/products/play5slim.png'"
          [alt]="product.name" />
      </div>
      <div class="info-box">
        <h1 class="title">{{ product.description }}</h1>

        <p class="brand">
          Category: <a>{{ product.categoryName }}</a>
        </p>

        <hr />

        <div class="description-section">
          <h3>About this article</h3>
          <p>{{ product.description }}</p>
        </div>
      </div>

<aside class="purchase-card">
  <div class="price-big">${{ product.price | number:'1.2-2' }}</div>
  <p class="stock-status">Available</p>

  <button 
    nz-button 
    nzType="primary" 
    nzBlock 
    (click)="addToCart()" 
    class="cart-btn"
    [class.added-success]="isAdded">
    
    <span nz-icon [nzType]="isAdded ? 'check-circle' : 'shopping-cart'"></span>
    <span class="btn-text">{{ isAdded ? 'Added!' : 'Add to cart' }}</span>
  </button>
</aside>

    </div>
  </div>

</div>