/* -- global override -- */
.ant-btn {
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn:not(.ant-btn-circle) {
  border-radius: 5px;
}

.ant-btn-lg {
  height: 37px;
  padding: 6.4px 22px;
}

.ant-btn-sm {
  height: 25px;
  padding: 1px 9px;
}

.ant-btn-primary {
  color: var(--color-white);
  border-color: #118ab2; /* TODO: move to global vars */
  background: #118ab2; /* TODO: move to global vars */
}

/* -- btn -- */
.btn.ant-btn.ant-btn-default {
  color: #118ab2; /* TODO: move to global vars */
  border: 1px solid #118ab2; /* TODO: move to global vars */
}

.btn.btn-transparent {
  font-weight: 600;
  color: var(--text-body);
  line-height: 21px;
}

.btn.ant-btn.btn-capsule.ant-btn-default {
  color: var(--text-body);
  background-color: var(--color-white);
  border-color: var(--border-disabled);
}

.btn.btn-capsule {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  border-radius: 16px;
  letter-spacing: 0.37px;
  padding: 1px 9px;
}

.btn.btn-capsule.blue {
  color: var(--graph-blue);
  background-color: var(--label-prospect-background);
  border: 1px solid var(--label-prospect-border);
}

/* test */
.btn.rainbow.selected {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  animation: gradientAnimation 2s infinite;
}

@keyframes gradientAnimation {
  0% {
    border-image-source: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  }
  50% {
    border-image-source: linear-gradient(90deg, #fc4f4f 0%, #00c0ff 49%, #ffcf00 80%, #fc4f4f 100%);
  }
  100% {
    border-image-source: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  }
}
