.clickable {
  cursor: pointer;
}

.word-break {
  white-space: initial;
  word-break: break-word;
  overflow-wrap: break-word;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uppercase {
  text-transform: uppercase;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item-centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.item-ended {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

