/* dropdown menu */
.dropdown-menu-actions .ant-dropdown-menu,
.dropdown-menu-actions .ant-menu {
  box-shadow: var(--box-shadow-dropdown-menu);
}

.dropdown-menu-actions .ant-dropdown-menu {
  padding: 10px 0 10px 0;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.dropdown-menu-actions .ant-dropdown-menu-item {
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-gray8);
}

.dropdown-menu-actions .ant-dropdown-menu-item:hover,
.dropdown-menu-actions .ant-dropdown-menu-item.ant-dropdown-menu-item-danger:hover {
  background-color: #f5f5f5; /* TODO move to global var */
}

.dropdown-menu-actions .ant-dropdown-menu-item.menu-danger:hover,
.dropdown-menu-actions .ant-dropdown-menu-item.ant-dropdown-menu-item-danger:hover {
  color: #ff4d4f; /* TODO move to global var */
}
