<div class="login-container">
  <h2 class="login-title">Iniciar Sesión</h2>
  
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Enter your email address">
        <nz-input-group nzPrefixIcon="user">
          <input type="email" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Enter your password">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" nzBlock [nzLoading]="loading">
      Login
    </button>
  </form>

  <div class="login-footer">
    <div class="divider-container">
      <div class="divider-line"></div>
      <span class="divider-text">NEW HERE?</span>
      <div class="divider-line"></div>
    </div>
    
    <button nz-button nzType="default" nzBlock (click)="goToRegister()">
      Create a new account
    </button>
  </div>
</div>