<div class="register-container">
  <h2 class="register-title">Create Account</h2>
  
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your full name">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="name" placeholder="Full name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Enter a valid email address">
        <nz-input-group nzPrefixIcon="mail">
          <input type="email" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="The password must be at least 6 characters long.">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Confirm your password">
        <nz-input-group nzPrefixIcon="check-circle">
          <input type="password" nz-input formControlName="confirm" placeholder="Confirm Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" nzBlock [nzLoading]="loading">
      Sign up
    </button>
  </form>

  <div class="register-footer">
    <a routerLink="/login" class="login-link">
      Already have an account? Sign in here.
    </a>
  </div>
</div>