<div class="product-card">

  <div class="product-image">
    <img
      [src]="product.imageUrl || 'assets/logo.png'"
      [alt]="product.name"
    />
  </div>

<div class="product-info">
  <span class="category">{{ product.categoryName }}</span>
  <h3 class="name">{{ product.name }}</h3>
  <p class="price">${{ product.price | number:'1.2-2' }}</p>

  <button 
    nz-button 
    nzType="primary" 
    nzBlock 
    class="cart-btn-global" 
    [class.added-success]="isAdded"
    [disabled]="isAdded"
    (click)="addToCart(); $event.stopPropagation()"> 
    <span nz-icon [nzType]="isAdded ? 'check-circle' : 'shopping-cart'"></span>
    {{ isAdded ? 'Added!' : 'Add to cart' }}
  </button>
</div>

</div>

